<h2>Pirates</h2>

<div class="pirate">
    <h3>Name</h3>
    <p><%= @pirate.name %></p>
    <h3>Weight</h3>
    <p><%= @pirate.weight %> pounds</p>
    <h3>Height</h3>
    <p><%= @pirate.height %> inches</p>
</div>

<h2>Ships</h2>

<% @ships.each do |ship| %>
    <div class="ship">
        <h3>Name</h3>
        <p><%= ship.name %></p>
        <h3>Type</h3>
        <p><%= ship.type %></p>
        <h3>Booty Attributes</h3>
        <p><%= ship.booty %></p>
    </div><br>
<% end %>